@using WCF.BusinessObjectsLayer.EntityObjects;
@using WCF.BusinessObjectsLayer.Commons;
@{
    ViewBag.Title = "Chỉnh sửa thông tin cá nhân";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@model WCF.BusinessObjectsLayer.EntityObjects.AccountObject
@{
    AccountObject account = new AccountObject();
    if (CommonConstants.SESSION_ACCOUNT != null)
    {
        account = (AccountObject)Session[CommonConstants.SESSION_ACCOUNT];
    }
    else
    {
        account = null;
    }
}
<head>
    <meta charset="utf-8" />
    <title>iMIC - AdminCP | @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/uniform.default.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Content/assets/css/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/profile.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/tasks.css" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" type="text/css" href="~/Areas/AdminCP/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />*@

    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/Content/assets/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/layout4/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/Content/assets/css/layout4/themes/light.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/layout4/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<!-- BEGIN CONTENT -->
<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-content" style="margin-left:20px; margin-right:20px">
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PROFILE SIDEBAR -->
                    <div class="profile-sidebar" style="width: 250px;">
                        <!-- PORTLET MAIN -->
                        <div class="portlet light profile-sidebar-portlet">
                            <!-- SIDEBAR USERPIC -->
                            <div class="profile-userpic">
                                <a href="@Url.RouteUrl("user-profile", new { username = Model.Username })">
                                    <img src="~/Content/images/avatar/@Model.ImageAvatar" class="img-responsive" alt="avatar">
                                </a>
                            </div>
                            <!-- END SIDEBAR USERPIC -->
                            <!-- SIDEBAR USER TITLE -->
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">
                                    @Model.FullName
                                </div>
                                <div class="profile-usertitle-job">
                                    @Model.RoleName
                                </div>
                            </div>
                            <!-- END SIDEBAR USER TITLE -->
                            <!-- SIDEBAR BUTTONS -->
                            <!-- END SIDEBAR BUTTONS -->
                            <!-- SIDEBAR MENU -->
                            <div class="profile-usermenu">
                                <ul class="nav">
                                    <li id="Overview">
                                        <a href="@Url.Action("UserProfile","Account")">
                                            <i class="icon-home"></i>
                                            Tổng Quan
                                        </a>
                                    </li>
                                    @if (account != null)
                                    {
                                        if (ViewBag.AccountID == account.AccountId)
                                        {
                                            <li id="Settings" class="active">
                                                <a href="@Url.RouteUrl("user-settings", new { username = account.Username })">
                                                    <i class="icon-settings"></i>
                                                    Cài Đặt
                                                </a>
                                            </li>
                                            @*<li>
                                                <a href="@Url.RouteUrl("user-create-video", new { username = account.Username })">
                                                    <i class="icon-check"></i>
                                                    Công việc
                                                </a>
                                            </li>*@
                                        }
                                    }
                                </ul>
                            </div>
                            <!-- END MENU -->
                        </div>
                        <!-- END PORTLET MAIN -->
                        <!-- PORTLET MAIN -->
                        <div class="portlet light">
                            <!-- STAT -->
                            <div class="row list-separated profile-stat">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="uppercase profile-stat-title">
                                        @Model.TotalOfVideo
                                    </div>
                                    <div class="uppercase profile-stat-text">
                                        Videos
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="uppercase profile-stat-title">
                                        @Model.TotalOfArtice
                                    </div>
                                    <div class="uppercase profile-stat-text">
                                        BÀI VIẾT
                                    </div>
                                </div>
                            </div>
                            <!-- END STAT -->
                            <div>
                                <h4 class="profile-desc-title">Giới thiệu</h4>
                                <span class="profile-desc-text">Lập trình viên.</span>
                                <div class="margin-top-20 profile-desc-link">
                                    <i class="fa fa-envelope"></i>
                                    <a href="javascript:0">@Model.Email</a>
                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET MAIN -->
                    </div>
                    <!-- END BEGIN PROFILE SIDEBAR -->
                    <!-- BEGIN PROFILE CONTENT -->
                    <div class="profile-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet light">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption caption-md">
                                            <i class="icon-globe theme-font hide"></i>
                                            <span class="caption-subject font-blue-madison bold uppercase">THÔNG TIN TÀI KHOẢN</span>
                                        </div>
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#tab_1_1" data-toggle="tab">Thông tin cá nhân</a>
                                            </li>
                                            <li>
                                                <a href="#tab_1_2" data-toggle="tab">Ảnh đại diện</a>
                                            </li>
                                            <li>
                                                <a href="#tab_1_3" data-toggle="tab">Mật khẩu</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="tab-content">
                                            <!-- PERSONAL INFO TAB -->
                                            <div class="tab-pane active" id="tab_1_1">
                                                <div class="form-group">
                                                    <label class="control-label">Họ và tên</label>
                                                    <input type="text" name="FullName" placeholder="Nhập vào Họ và tên" class="form-control" value="@Model.FullName" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Email</label>
                                                    <input type="text" name="Email" placeholder="Nhập vào Email" class="form-control" value="@Model.Email" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Số điện thoại</label>
                                                    <input type="text" name="Phone" placeholder="Nhập vào số điện thoại" class="form-control" value="@Model.Phone" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Ngày sinh</label>
                                                    <input type="text" name="Birthday" placeholder="Chọn ngày sinh" class="form-control todo-taskbody-due" value="@Model.Birthday" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Giới tính</label>
                                                    <select id="sl_gender" class="input-small form-control">
                                                        <option value="0">Nam</option>
                                                        <option value="1">Nữ</option>
                                                    </select>
                                                </div>
                                                <div class="margiv-top-10">
                                                    <a onclick="SaveInfomation()" class="btn green-haze">
                                                        Lưu thay đổi
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- END PERSONAL INFO TAB -->
                                            <!-- CHANGE AVATAR TAB -->
                                            <div class="tab-pane" id="tab_1_2">
                                                <div class="clearfix" style="margin-bottom:20px">
                                                    <span class="label label-danger">NOTE! </span>
                                                    <span>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                                                </div>
                                                <form role="form">
                                                    <div class="form-group">
                                                        <div>
                                                            <img class="img-thumbnail rimage" style="width: 30%; height: 30%;" src="~/Content/images/avatar/@Model.ImageAvatar" />
                                                        </div>
                                                        <input style="margin-top:10px" type="file" name="ImageAvatar" id="chooseImage" value="" />
                                                        @*@Html.TextBoxFor(m => m.ImageAvatar, new { type = "file", name = "ImageAvatar", id = "chooseImage" })*@
                                                    </div>
                                                    <div class="margin-top-10">
                                                        <a onclick="ChangeAvatar()" class="btn green-haze">
                                                            Lưu ảnh đại diện
                                                        </a>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- END CHANGE AVATAR TAB -->
                                            <!-- CHANGE PASSWORD TAB -->
                                            <div class="tab-pane" id="tab_1_3">
                                                <div class="form-group">
                                                    <label class="control-label">Mật khẩu hiện tại</label>
                                                    <input type="password" name="OldPassword" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Mật khẩu mới</label>
                                                    <input type="password" name="NewPassword" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Nhập lại mật khẩu mới</label>
                                                    <input type="password" name="ReNewPassword" class="form-control" />
                                                </div>
                                                <div class="margin-top-10">
                                                    <a onclick="ChangePassword()" class="btn green-haze">
                                                        Đổi mật khẩu
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- END CHANGE PASSWORD TAB -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PROFILE CONTENT -->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>

<div class="modal fade" id="notification">
    <div class="modal-dialog modal-sm modal-scroll">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" style="text-align:center">Thông báo</h3>
            </div>
            <div class="modal-body" style="padding-top:16px;text-align:center">

            </div>
            <div class="modal-footer">
                <button class="btn default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts{
    <script src="~/Content/assets/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/js/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/js/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/js/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/js/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/js/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/js/bootstrap-switch.min.js" type="text/javascript"></script>

    <script src="~/Content/assets/js/jquery.sparkline.min.js" type="text/javascript"></script>

    <script src="~/Content/assets/js/metronic.js" type="text/javascript"></script>
    <script src="~/Content/assets/js/layout4/layout.js" type="text/javascript"></script>
    <script src="~/Content/assets/js/layout4/demo.js" type="text/javascript"></script>
    <script src="~/Content/assets/js/components-pickers.js"></script>

    <script src="~/Content/assets/js/profile.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Demo.init(); // init demo features
            Profile.init(); // init page demo
            ComponentsPickers.init();
        });
    </script>

    <script>
        function SaveInfomation() {
            var AccountID = '@Model.AccountId';
            var FullName = $('input[name=FullName]').val();
            var Email = $('input[name=Email]').val();
            var Phone = $('input[name=Phone]').val();
            var Birthday = $('input[name=Birthday]').val();
            var Gender = false;
            if ($('#sl_gender option:selected').val() == 1) {
                Gender = true;
            }
            $.ajax({
                url: '@Url.Action("UserProfile_UpdateInformation", "Account")',
                type: 'post',
                data: { AccountID: AccountID, FullName: FullName, Email: Email, Phone: Phone, Birthday: Birthday, Gender: Gender },
                success: function (response) {
                    var message = response.message;
                    $(".modal-body").empty();
                    $(".modal-body").append(message);
                    $("#notification").modal('show');
                }
            })
        }
    </script>

    <script>
        function ChangeAvatar() {
            var value = $('#chooseImage').val();
            if (value != null) {
                var formData = new FormData();
                formData.append('Avatar', $('#chooseImage')[0].files[0]);
                $.ajax({
                    url: '@Url.Action("UserProfile_ChangeAvatar", "Account")',
                    type: 'POST',
                    data: formData,
                    dataType: 'json',
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    success: function (response) {
                        var message = response.message;
                        $(".modal-body").empty();
                        $(".modal-body").append(message);
                        $("#notification").modal('show');
                        $('#chooseImage').val('');
                        setTimeout(location.reload.bind(location), 3000);
                    }
                });
            }
        }
    </script>

    @*<script>
        function ChangePassword() {
            var AccountID = '@Model.AccountId';
            var OldPassword = $('input[name=OldPassword]').val();
            var NewPassword = $('input[name=NewPassword]').val();
            var ReNewPassword = $('input[name=ReNewPassword]').val();
            var validate = true;
            if (OldPassword != '@Model.Password' || NewPassword != ReNewPassword) {;
                validate = false;
            }
            if (validate == false) {
                $(".modal-body").empty();
                $(".modal-body").append("Vui lòng kiểm tra lại mật khẩu đã nhập!");
                $("#notification").modal('show');
            }
            if (validate == true) {
                $.ajax({
                    url: '@Url.Action("UserProfile_ChangePassword", "Account")',
                    type: 'post',
                    data: { AccountID: AccountID, NewPassword: NewPassword },
                    success: function (response) {
                        var message = response.message;
                        $(".modal-body").empty();
                        $(".modal-body").append(message);
                        $("#notification").modal('show');
                        $('input[name=OldPassword]').val("");
                        $('input[name=NewPassword]').val("");
                        $('input[name=ReNewPassword]').val("");
                    }
                })
            }
        }
    </script>*@

    <script>
        function ChangePassword() {
            var OldPassword = $('input[name=OldPassword]').val();
            var NewPassword = $('input[name=NewPassword]').val();
            var ReNewPassword = $('input[name=ReNewPassword]').val();
            $.ajax({
                url: '@Url.Action("UserProfile_ChangePassword", "Account")',
                type: 'post',
                data: { OldPassword: OldPassword, NewPassword: NewPassword, ReNewPassword: ReNewPassword },
                success: function (response) {
                    if (response.result == false) {
                        var message = response.message;
                        $(".modal-body").empty();
                        $(".modal-body").append(message);
                        $("#notification").modal('show');
                    }
                    else {
                        var message = response.message;
                        $(".modal-body").empty();
                        $(".modal-body").append(message);
                        $("#notification").modal('show');
                        $('input[name=OldPassword]').val("");
                        $('input[name=NewPassword]').val("");
                        $('input[name=ReNewPassword]').val("");
                    }
                }
            })
        }
    </script>

    <script>
        function readURL(input, target) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(target).attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

    <script>
        $(document).on("change", "#chooseImage", function () {
            readURL(this, '.rimage');
        });
    </script>
}
