
@{
    ViewBag.Title = "Thêm mới banner";
    Layout = "~/Areas/AdminCP/Views/Shared/_Admin.cshtml";
}
@model WCF.BusinessObjectsLayer.EntityObjects.TechBannerObject
<div class="portlet box red-intense">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-globe"></i>Thêm mới banner
        </div>
        <div class="tools">

        </div>
    </div>

    <div class="portlet-body">
        <div style="width:100%">
            @using (Html.BeginForm("BannerInsert", "TechAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <h4 style="color:red">@Html.ValidationSummary("", true)</h4>
                <div class="form-group">
                    <h3>Tiêu đề h3</h3>

                    @Html.TextBoxFor(q => q.h3text, new
                    {
                        @type = "text",
                        @class = "form-control",
                        @required = "true",
                        @placeholder = "tiêu đề h3"
                    })
                </div>
                <div class="form-group">
                    <h3>Tiêu đề h4</h3>

                    @Html.TextBoxFor(q => q.h4text, new
                    {
                        @type = "text",
                        @class = "form-control",

                        @placeholder = "tiêu đề h4"
                    })
                </div>
                <div class="form-group">
                    <label>Hình ảnh</label>

                    <input type="file" name="Avatar" id="ava">
                    <div style="margin-top:15px;">
                        <img style="width:200px;height:180px;" class="img-thumbnail rimage" />
                    </div>
                </div>

                <div class="form-group">
                    <label>Tiêu đề Seo của ảnh(tự sinh)</label>
                    @Html.TextBoxFor(x => x.ImageAlt, new { @class = "form-control readimg", @type = "text", @placeholder = "Tiêu đề SEO" })

                </div>
                <div class="form-group">
                    <h3>Nội dung top</h3>

                    @Html.TextBoxFor(q => q.pTopText, new
                    {
                        @type = "text",
                        @class = "form-control",
                        @placeholder = "Nội dung 1"
                    })
                </div>
                <div class="form-group">
                    <h3>Nội dung Mid</h3>

                    @Html.TextBoxFor(q => q.pMidText, new
                    {
                        @type = "text",
                        @class = "form-control",
                        @placeholder = "Nội dung 2"
                    })
                </div>
                <div class="form-group">
                    <h3>Nội dung bot</h3>

                    @Html.TextBoxFor(q => q.pBotText, new
       {
           @type = "text",
           @class = "form-control",
           @placeholder = "Nội dung 3"
       })
                </div>
                <div class="form-group">
                    <h3>Vị trí</h3>

                    @Html.TextBoxFor(q => q.Rank, new
       {
           @type = "number",
           @class = "form-control",
           @placeholder = "vị trí để hiển thị"
       })
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>

                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
</div>

@section Scripts{
    <script src="~/Areas/AdminCP/Content/assets/global/plugins/bootbox/bootbox.min.js"></script>
    <script>
        $('input[name=Avatar]')
            .on('change',
                function (e) {
                    var fullPath = $(this).val();
                    if (fullPath) {
                        var startIndex = (fullPath.indexOf('\\') >= 0
                            ? fullPath.lastIndexOf('\\')
                            : fullPath.lastIndexOf('/'));
                        var filename = fullPath.substring(startIndex);
                        if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                            filename = filename.substring(1);
                        }
                        var fn = filename.split('.');
                        var extension = fn[fn.length - 1];
                        filename = filename.replace(extension, '');
                        filename = filename.replace('.', ' ');
                        $('input[name=ImageAlt]').val(filename);

                    }
                });

        $("#ava").change(function () {
            readURL(this, '.rimage');
        });

    </script>
}








