@using WCF.BusinessObjectsLayer.EntityObjects;
@{
    ViewBag.Title = "Manage Pending Video";
    Layout = "~/Areas/AdminCP/Views/Shared/_Admin.cshtml";
}
@model IEnumerable<WCF.BusinessObjectsLayer.EntityObjects.VideoObject>
<style>
    th {
        text-align: center !important;
    }

    td {
        text-align: center !important;
    }
</style>
<div id="manage-tech-category" class="col-xs-12">
    <div class="portlet box red-intense">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-video-camera"></i>   Quản lý video chưa duyệt
            </div>
            <div class="tools">

            </div>
        </div>
        <div class="portlet-body">
            <div class="col-xs-12" style="float:none">
                <div style="padding-bottom:10px;">
                    <a class="btn btn-primary btn-sm" style="margin-top:10px;" href="@Url.Action("Video_Insert", "VideoAdmin")">
                        Thêm mới
                        <span class="fa fa-plus" style="padding-left:6px;"></span>
                    </a>
                </div>
                <div class="col-xs-12" style="padding-bottom:20px;padding-left:0px">
                    <h4 style="margin-top:10px;">Chọn danh mục :</h4>
                    @{
                        List<VideoCategoryObject> lstCategory = (List<VideoCategoryObject>)ViewBag.CategoryList;
                        <select class="form-control input-inline" id="selectCategory">
                            <option value="0">Tất cả</option>
                            @foreach (var category in lstCategory)
                            {
                                if (category.VCCodeNumber == ViewBag.vcCodeNumber)
                                {
                                    <option selected value="@category.VCCodeNumber">@category.VideoCategoryName</option>
                                }
                                else
                                {
                                    <option value="@category.VCCodeNumber">@category.VideoCategoryName</option>
                                }
                            }
                        </select>
                    }
                </div>
                @*<table class="table table-striped table-bordered table-hover dataTable no-footer" id="video-table" aria-describedby="dataTables-example_info">*@
                <table class="table table-striped table-bordered table-hover" id="pending-video-table">
                    <thead>
                        <tr role="row">
                            @*<th class="sorting" tabindex="0" aria-controls="category-table" rowspan="1" colspan="1">Số code</th>*@
                            @*<th class="table-checkbox"><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>*@
                            <th></th>
                            <th style="width:300px">Tên</th>
                            <th>Liên kết</th>
                            <th>Ảnh</th>
                            <th>Người đăng</th>
                            <th>Ngày đăng</th>
                            @*<th class="sorting" tabindex="0" rowspan="1" colspan="1">Trạng thái</th>*@
                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="odd gradeX">
                                @*<th>@item.VCCodeNumber</th>*@
                                <td><input type="checkbox" class="checkboxes" value="@item.VideoId" /></td>
                                <td>@item.VideoName</td>
                                <td><a target="_blank" href="@item.VideoLink">@item.VideoLink</a></td>
                                <td><img style="height:100px;width:150px;" src="~/Content/Galleries/Video/Thumbnails/@item.VideoThumbnail" /></td>
                                <td>@item.Account.Username</td>
                                <td>@item.ModifiedTime.ToString("dd/MM/yyyy hh:mm:ss")</td>
                                <td>
                                    <a onclick="Approve('@item.VideoId','@item.VideoName',event)" class="btn green-meadow">Duyệt</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/Areas/AdminCP/Content/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Areas/AdminCP/Content/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#pending-video-table').dataTable();
        });

        $('#selectCategory').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            $.ajax({
                url: "@Url.Action("Manage_PendingVideo", "VideoAdmin")",
                type: "get",
            data: { vcCodeNumber: valueSelected },
            success: function (data) {
                $('body').html(data);
            }
        })
        })

        function Approve(id, name, event) {
            var sender = event.currentTarget;
            var answer = confirm("Bạn có muốn duyệt video: " + name + " ?");
            if (answer) {
                $.ajax({
                    url: '@Url.Action("Approve_Video", "VideoAdmin")',
                    data: { VideoId: id },
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if (!data.result) {
                            alert(data.Message);
                        } else {
                            $(sender).closest("tr").remove();
                        }
                    }
                });
            }
        }
    </script>
}

