@model WCF.BusinessObjectsLayer.EntityObjects.NewsObject
@{
    Layout = "~/Areas/AdminCP/Views/Shared/_Admin.cshtml";
}

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> Sửa tin
        </div>
    </div>
    <div class="portlet-body form">
        @using (Html.BeginForm("NewsEdit", "NewsAdmin", FormMethod.Post, new { id = "manageForm", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="form-group">
                    @Html.HiddenFor(model => model.NewsId)
                    @Html.HiddenFor(model => model.NewsAvatar)
                    @Html.HiddenFor(model => model.IsApproved)
                    @Html.HiddenFor(model => model.ModifiedBy)
                    <label>Chọn danh mục</label>
                    @{
                        var lisCategory = ViewBag.ListCategory;
                        List<SelectListItem> lisSelectCategory = new List<SelectListItem>();
                        foreach (var item in lisCategory)
                        {
                            lisSelectCategory.Add(new SelectListItem()
                            {
                                Value = "" + item.NewsCategoryId,
                                Text = item.NewsCategoryName
                            });
                        }
                    }

                    @Html.DropDownListFor(m => m.NewsCategoryId, lisSelectCategory, new {@class = "form-control"})

                </div>
                <div class="form-group">
                    <label>Tiêu đề tin</label>
                    <div class="input-icon right">
                        <i class="fa fa-microphone"></i>
                        @Html.TextBoxFor(m => m.NewsTitle, new {@class = "form-control", @placeholder = "Nhập tiêu đề..."})
                    </div>
                </div>
                <div class="form-group">
                    <label>Ngày Tháng Năm đăng bài</label>
                    <div class="input-icon right">
                        <i class="fa fa-microphone"></i>
                        @Html.TextBoxFor(m => m.ModifiedTime, new { @class = "form-control", @placeholder = "dd/MM/yyyy" })
                    </div>
                </div>
                <div class="form-group">
                    <label>@Html.LabelFor(model => model.NewsAvatar)</label>
                    <input type="file" name="fileAvatar">
                    <p class="help-block">
                        <img src="~/Content/Galleries/News/NewsImage/@Model.NewsAvatar" height="50" width="50" />
                    </p>
                </div>
                <div class="form-group">
                    <label>Tóm tắt tin tức</label>
                    <div class="">
                        @Html.TextAreaFor(m => m.NewsSummary, new { @class = "form-control", @row = "6" })
                    </div>
                </div>
                <div class="form-group">
                    <label>Nội dung bài viết</label>
                    <div class="">
                        @Html.TextAreaFor(m => m.NewsContent, new { @class = "ckeditor form-control", @row = "6" })
                    </div>
                </div>
                <div class="form-group">
                    <label>Các tag bài viết</label>
                    <div class="checkbox-list">
                        @{
                        var lisTag = ViewBag.ListTag;
                        var lisTagByNewsId = ViewBag.ListTagByNewsId;
                            if (lisTagByNewsId.Count!=0)
                            {
                                foreach (var item in lisTagByNewsId)
                                {
                                    <label>
                                        <input type="checkbox" name="lisTagNewsIdSelected" value="@item.TagNewsId" checked="checked"> @item.TagNewsName
                                    </label>
                                    
                                }
                                
                            }
                            if (lisTag.Count!=0)
                            {
                                foreach (var item in lisTag)
                                {
                                    <label>
                                        <input type="checkbox" name="lisTagNewsIdSelected" value="@item.TagNewsId"> @item.TagNewsName
                                    </label>
                                }
                            }

}
                    </div>
                    <label><a href="#">Thêm tag mới</a></label>
                </div>
                <div class="form-group">
                    <label>Số lượt likes tin</label>
                    <div class="input-icon right">
                        <i class="fa fa-microphone"></i>
                        @Html.TextBoxFor(m => m.TotalOfLike, new { @class = "form-control", @placeholder = "Nhập số lượt likes..." })
                    </div>
                </div>
                <div class="form-group">
                    <label>Số lượt comments tin</label>
                    <div class="input-icon right">
                        <i class="fa fa-microphone"></i>
                        @Html.TextBoxFor(m => m.TotalOfComment, new { @class = "form-control", @placeholder = "Nhập số lượt bình luận..." })
                    </div>
                </div>
                <div class="form-group">
                    <label>Số lượt chia sẻ tin</label>
                    <div class="input-icon right">
                        <i class="fa fa-microphone"></i>
                        @Html.TextBoxFor(m => m.TotalOfShare, new { @class = "form-control", @placeholder = "Nhập số lượt shares..." })
                    </div>
                </div>
                <div class="form-group">
                    <label>Số lượt xem tin</label>
                    <div class="input-icon right">
                        <i class="fa fa-microphone"></i>
                        @Html.TextBoxFor(m => m.TotalOfView, new { @class = "form-control", @placeholder = "Nhập số lượt xem..." })
                    </div>
                </div>
                <div class="form-group">
                    <label>Bài viết ưu tiên (VIP)</label>
                    <div class="input-icon right">
                        <i class="fa fa-microphone"></i>
                        @Html.CheckBoxFor(m => m.IsVip, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn blue" onclick="UpdateEvent()">Sửa</button>
                <!--Phần hủy sẽ được mở khi code xong-->
                @*<button type="button" class="btn default">Huỷ</button>*@
            </div>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Areas/AdminCP/Content/assets/global/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Areas/AdminCP/Content/assets/global/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/Areas/AdminCP/Content/ckfinder/ckfinder.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.instances['NewsContent'];
        if (editor) { editor.destroy(true); }
        CKEDITOR.replace('NewsContent', {
            enterMode: CKEDITOR.ENTER_BR,
        });

        CKFinder.setupCKEditor(null, '@Url.Content("~/Areas/AdminCP/Content/ckfinder")');
    </script>

    <script>
    function UpdateEvent() {
        bootbox.confirm("Đồng ý lưu lại ", function (result) {
            if (result) {
                var form = $("#manageForm");
                $.ajax({
                    cache: false,
                    async: true,
                    type: "POST",
                    url: "@Url.Action("NewsEdit","NewsAdmin")",
                    data: form.serialize(),
                    dataType: "json",
                    success: function (data) {
                            if (data.Success) {
                                window.location.href = "@Url.Action("ListNews", "NewsAdmin")";
                            } else {
                                window.location.href = "@Url.Action("ListNews", "NewsAdmin")";
                            }
                        }
                    });

            }
        });
    }

    setAdminCurrentUrl('@Url.Action("ListNews", "NewsAdmin")');

    </script>



}





